html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body > div {
  padding: 0 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  background-color: #1f2937;
}

.hero-content {
  height: 250px;
  width: 460px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-banner p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.button {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px 25px;
  display: inline-block;
}

.hero-banner img {
  width: 419px;
  height: auto;
}

.info {
  height: 500px;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 50px 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;

}

.card {
  width: 200px;
  text-align: center;
}

.info img {
  width: 169px;
  height: auto;
}

p {
  font-size: 18px;
  color: #1f2937;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: #e5e7eb;
  gap: 30px;
}

.quote p {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  width: 945px;
}

.quote span {
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
  margin-right: 300px;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 60px 150px;
  border-radius: 10px;
  width: 1300px;
}

.modal a {
  border: 2px solid white;
}

.modal h3 {
  color: #e5e7eb;
  font-size: 24px;
  margin-bottom: 5px;
}

.modal p {
  color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1f2937;
}

.footer p {
  color: #e5e7eb;
}